body{
    width: auto;
}
.l-header__key{
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(image/gift00.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.l-header__key__wrap{
    background-color: rgba(0, 0, 0, .15);
    position: relative;
    width: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
}
.l-header__key__title{
    font-size: 40px;
    font-weight: 300;
    width: 440px;
    height: auto;
    margin: 0 0 40px 0;
    font-family: Baskerville URW;
    letter-spacing: .1em;
}
.l-header__key__text{
    font-size: 15px;
    font-weight: 300;
    font-family: Baskerville URW;
    letter-spacing: .1em;
}

.gift-collection__head{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.gift-collection__head__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}
.gift-collection__head__textbox{
    padding-left: 79px;
    padding-right: 79px;
}
.gift-collection__head__textbox__title{
    font-family: Baskerville URW;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: .05em;
    line-height: 48px;
    text-align: left;
    color: #555;
}

.gift-collection__head__textbox__text{
    font-family: YuMincho;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 32px;
    text-align: left;
    color: #555;
}
.gift-collection__head__inner img{
    width: 62.65%;
}

.gift-collection__nav__pc{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gift-collection__nav__pc__link{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .06em;
    line-height: 26px;
    text-align: left;
    color: #555;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 28px;
}
.gift-collection__section__head{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.gift-collection__section__head__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.gift-collection__section__head__inner img{
    width: 62.65%;
}

.gift-collection__sectio__head__textbox{
    padding-left: 79px;
    padding-right: 79px;
}
.gift-collection__sectio__head__textbox__title{
    font-family: Baskerville URW;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .05em;
    line-height: 48px;
    text-align: left;
    color: #555;
}
.gift-collection__sectio__head__textbox__text{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 26px;
    text-align: left;
    color: #555;
}
.gift-collection__sectio__head__textbox__item{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 22px;
    text-align: left;
    color: #9d9d9d;
    text-decoration: none;
    display: block;
    padding-top: 18px;
}

.gift-collection__wrapping{
    padding: 120px 0;
    background-color: #f5f5f5;
}
.gift-collection__wrapping__head{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.gift-collection__wrapping__head__inner{
    width: 78%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gift-collection__wrapping__head__textbox{
    width: 33.96%;
}
.gift-collection__wrapping__head__textbox__title{
    font-family: Baskerville URW;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: .05em;
    line-height: 48px;
    text-align: left;
    color: #555;
    margin-bottom: 27px;
}
.gift-collection__wrapping__head__textbox__text{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .04em;
    line-height: 26px;
    text-align: left;
    color: #555;
    margin-bottom: 42px;
}
.viewlink{
    font-family: Hiragino Kaku Gothic ProN, \30d2\30e9\30ae\30ce\89d2\30b4 ProN W3, Meiryo, \30e1\30a4\30ea\30aa, sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .06em;
    line-height: 24px;
    text-align: left;
    color: #555;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
.gift-collection__wrapping__head__inner img{
    width: 58.69%;
}

.gift-collection__faq{
    width: 51.87%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 88px;
}
.gift-collection__faq__box{
    font-family: YuMincho;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: .05em;
    line-height: 40px;
    text-align: left;
    color: #555;
    margin-bottom: 40px;
}
.gift-collection__faq__row__question{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 26px;
    text-align: left;
    color: #555;
    padding: 22px 45px 22px 16px;
    background-color: #f5f5f5;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
}
.gift-collection__faq__row__question::before{
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    top: calc(50% + -0px);
    right: 18px;
    background-color: #555;
}
.gift-collection__faq__row__question::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 13px;
    top: calc(50% - 6px);
    right: 24px;
    background-color: #555;
}
.gift-collection__faq__row__answer{
    font-family: Hiragino Sans;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 26px;
    text-align: left;
    color: #555;
    padding-top: 32px;
    padding-bottom: 16px;
}
.l-footer{
    padding: 2rem 0;
}
.l-footer__wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.l-footer__subnav__li{
    display: inline-block;
    position: relative;
}
.l-footer__subnav__link{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    padding: 1rem;
}
.l-footer__wrap__rigth p{
    display: block;
    padding: 1rem;
    margin-right: -1rem;
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    line-height: 1;
}